menu "BSP Configuration"
    config BSP_ERROR_CHECK
        bool "Enable error check in BSP"
        default y
        help
            Error check assert the application before returning the error code.
         
    menu "I2C"
        config BSP_I2C_NUM
            int "I2C peripheral index"
            default 1
            range 0 1
            help
                ESP32S3 has two I2C peripherals, pick the one you want to use.

        config BSP_I2C_SDA_NUM
            int "I2C SDA GPIO number"
            default 17
            help
                GPIO number for I2C SDA signal.
        config BSP_I2C_SCL_NUM
            int "I2C SCL GPIO number"
            default 18
            help
                GPIO number for I2C SCL signal.

        config BSP_I2C_FAST_MODE
            bool "Enable I2C fast mode"
            default y
            help
                I2C has two speed modes: normal (100kHz) and fast (400kHz).

        config BSP_I2C_CLK_SPEED_HZ
            int
            default 400000 if BSP_I2C_FAST_MODE
            default 100000
    endmenu

    menu "SPI"
        config BSP_SPI2_ENABLE
            bool "Enable SPI2 peripheral"
            default y
            help
                Enable SPI2 peripheral for external devices.

        config BSP_SPI2_CLK_SPEED_HZ
            int "SPI2 clock speed (Hz)"
            depends on BSP_SPI2_ENABLE
            default 1000000 if BSP_SPI2_ENABLE
            default 1000000
            help
                SPI2 clock speed in Hertz.

        config BSP_SPI2_MISO_NUM
            int "SPI2 MISO GPIO number"
            depends on BSP_SPI2_ENABLE
            default 38 if BSP_SPI2_ENABLE
            help
                GPIO number for SPI2 MISO signal.

        config BSP_SPI2_MOSI_NUM
            int "SPI2 MOSI GPIO number"
            depends on BSP_SPI2_ENABLE
            default 40 if BSP_SPI2_ENABLE
            help
                GPIO number for SPI2 MOSI signal.

        config BSP_SPI2_SCLK_NUM
            int "SPI2 SCLK GPIO number"
            depends on BSP_SPI2_ENABLE
            default 39 if BSP_SPI2_ENABLE
            help
                GPIO number for SPI2 SCLK signal.

        config BSP_SPI3_ENABLE
            bool "Enable SPI3 peripheral"
            default n
            help
                Enable SPI3 peripheral for external devices.

        config BSP_SPI3_CLK_SPEED_HZ
            int "SPI3 clock speed (Hz)"
            depends on BSP_SPI3_ENABLE
            default 1000000 if BSP_SPI3_ENABLE
            default 1000000
            help
                SPI3 clock speed in Hertz.

        config BSP_SPI3_MISO_NUM
            int "SPI3 MISO GPIO number"
            depends on BSP_SPI3_ENABLE
            default 15 if BSP_SPI3_ENABLE
            help
                GPIO number for SPI3 MISO signal.

        config BSP_SPI3_MOSI_NUM
            int "SPI3 MOSI GPIO number"
            depends on BSP_SPI3_ENABLE
            default 16 if BSP_SPI3_ENABLE
            help
                GPIO number for SPI3 MOSI signal.

        config BSP_SPI3_SCLK_NUM
            int "SPI3 SCLK GPIO number"
            depends on BSP_SPI3_ENABLE
            default 17 if BSP_SPI3_ENABLE
            help
                GPIO number for SPI3 SCLK signal.
    endmenu

    menu "Display"
        config BSP_LCD_DPI_BUFFER_NUMS
            int "Set number of frame buffers"
            default 1
            range 1 3
            help
                Let DPI LCD driver create a specified number of frame-size buffers. Only when it is set to multiple can the avoiding tearing be turned on.

        config BSP_DISPLAY_LVGL_AVOID_TEAR
            bool "Avoid tearing effect"
            depends on BSP_LCD_DPI_BUFFER_NUMS > 1
            default "n"
            help
                Avoid tearing effect through LVGL buffer mode and double frame buffers of RGB LCD. This feature is only available for RGB LCD.

        choice BSP_DISPLAY_LVGL_MODE
            depends on BSP_DISPLAY_LVGL_AVOID_TEAR
            prompt "Select LVGL buffer mode"
            default BSP_DISPLAY_LVGL_FULL_REFRESH
            config BSP_DISPLAY_LVGL_FULL_REFRESH
                bool "Full refresh"
            config BSP_DISPLAY_LVGL_DIRECT_MODE
                bool "Direct mode"
        endchoice
            
        config BSP_DISPLAY_BRIGHTNESS_LEDC_CH
        int "LEDC channel index"
        default 1
        range 0 7
        help
            LEDC channel is used to generate PWM signal that controls display brightness.
            Set LEDC index that should be used.

        choice BSP_LCD_COLOR_FORMAT
            prompt "Select LCD color format"
            default BSP_LCD_COLOR_FORMAT_RGB565
            help
                Select the LCD color format RGB565/RGB888.

            config BSP_LCD_COLOR_FORMAT_RGB565
                bool "RGB565"
            config BSP_LCD_COLOR_FORMAT_RGB888
                bool "RGB888"
        endchoice   
        
    endmenu

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    choice ESP_WIFI_SAE_MODE
        prompt "WPA3 SAE mode selection"
        default ESP_STATION_EXAMPLE_WPA3_SAE_PWE_BOTH
        help
            Select mode for SAE as Hunt and Peck, H2E or both.
        config ESP_STATION_EXAMPLE_WPA3_SAE_PWE_HUNT_AND_PECK
            bool "HUNT AND PECK"
        config ESP_STATION_EXAMPLE_WPA3_SAE_PWE_HASH_TO_ELEMENT
            bool "H2E"
            depends on ESP_WIFI_ENABLE_SAE_H2E
        config ESP_STATION_EXAMPLE_WPA3_SAE_PWE_BOTH
            bool "BOTH"
            depends on ESP_WIFI_ENABLE_SAE_H2E
    endchoice

    config ESP_WIFI_PW_ID
        string "PASSWORD IDENTIFIER"
        depends on  ESP_STATION_EXAMPLE_WPA3_SAE_PWE_HASH_TO_ELEMENT|| ESP_STATION_EXAMPLE_WPA3_SAE_PWE_BOTH
        default ""
        help
            password identifier for SAE H2E

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    choice ESP_WIFI_SCAN_AUTH_MODE_THRESHOLD
        prompt "WiFi Scan auth mode threshold"
        default ESP_WIFI_AUTH_WPA2_PSK
        help
            The weakest authmode to accept in the scan mode.
            This value defaults to ESP_WIFI_AUTH_WPA2_PSK in case password is present and ESP_WIFI_AUTH_OPEN is used.
            Please select ESP_WIFI_AUTH_WEP/ESP_WIFI_AUTH_WPA_PSK in case AP is operating in WEP/WPA mode.

        config ESP_WIFI_AUTH_OPEN
            bool "OPEN"
        config ESP_WIFI_AUTH_WEP
            bool "WEP"
        config ESP_WIFI_AUTH_WPA_PSK
            bool "WPA PSK"
        config ESP_WIFI_AUTH_WPA2_PSK
            bool "WPA2 PSK"
        config ESP_WIFI_AUTH_WPA_WPA2_PSK
            bool "WPA/WPA2 PSK"
        config ESP_WIFI_AUTH_WPA3_PSK
            bool "WPA3 PSK"
        config ESP_WIFI_AUTH_WPA2_WPA3_PSK
            bool "WPA2/WPA3 PSK"
        config ESP_WIFI_AUTH_WAPI_PSK
            bool "WAPI PSK"
    endchoice

endmenu
